.square {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 1px solid black;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
}

.select .square--ships {
  background-color: grey;
}

.field {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(5, 50px);
  margin: 2rem;
}

.field-container {
  display: flex;
  justify-content: space-around;
}

.field__buttons {
  align-self: center;
}

.own .square--ships {
  background-color: black;
}

.own .square--hits {
  background-color: red;
}

.own .square--misses {
  background-color: lightblue;
}

.enemy .square--hits {
  background-color: green;
}

.enemy .square--misses {
  background-color: lightcoral;
}

.enemy .square--target {
  background-color: yellow;
}